In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
url = "https://webpages.charlotte.edu/mscipion/"

r= requests.get(url)
print(r)

<Response [200]>

In [2]:
soup = BeautifulSoup(r.text, "lxml")

In [13]:
table = soup.find("table")
print (table)

<table>
<tr>
<th>Student</th>
<th>Favourite Computer Language</th>
<th>Years of Experience</th>
</tr>
<tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>
<tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>
<tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>
<tr>
<td>Isabel</td>
<td>C++</td>
<td>3</td>
</tr>
<tr>
<td>Tony</td>
<td>Pearl</td>
<td>7</td>
</tr>
<tr>
<td>Maria</td>
<td>Cobol</td>
<td>15</td>
</tr></table>

In [15]:
headers = table.find_all("th")
print (headers)

[<th>Student</th>, <th>Favourite Computer Language</th>, <th>Years of Experience</th>]

In [16]:
titles = []

for i in headers:
    title = i.text
    titles.append(title)
    
print(titles)

['Student', 'Favourite Computer Language', 'Years of Experience']

In [17]:
df= pd.DataFrame(columns=titles)
print(df)

Empty DataFrame
Columns: [Student, Favourite Computer Language, Years of Experience]
Index: []

In [18]:
rows = table.find_all("tr")
print(rows)

[<tr>
<th>Student</th>
<th>Favourite Computer Language</th>
<th>Years of Experience</th>
</tr>, <tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>, <tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>, <tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>, <tr>
<td>Isabel</td>
<td>C++</td>
<td>3</td>
</tr>, <tr>
<td>Tony</td>
<td>Pearl</td>
<td>7</td>
</tr>, <tr>
<td>Maria</td>
<td>Cobol</td>
<td>15</td>
</tr>]

In [19]:
for i in rows[1:]:
    data = table.find_all("td")
    #print(data)
    row = [tr.text for tr in data]
    print(row)

['Fred', 'Kotlin', '4', 'Paula', 'Python', '2', 'Ernst', 'Java', '7', 'Isabel', 'C++', '3', 'Tony', 'Pearl', '7', 'Maria', 'Cobol', '15']
['Fred', 'Kotlin', '4', 'Paula', 'Python', '2', 'Ernst', 'Java', '7', 'Isabel', 'C++', '3', 'Tony', 'Pearl', '7', 'Maria', 'Cobol', '15']
['Fred', 'Kotlin', '4', 'Paula', 'Python', '2', 'Ernst', 'Java', '7', 'Isabel', 'C++', '3', 'Tony', 'Pearl', '7', 'Maria', 'Cobol', '15']
['Fred', 'Kotlin', '4', 'Paula', 'Python', '2', 'Ernst', 'Java', '7', 'Isabel', 'C++', '3', 'Tony', 'Pearl', '7', 'Maria', 'Cobol', '15']
['Fred', 'Kotlin', '4', 'Paula', 'Python', '2', 'Ernst', 'Java', '7', 'Isabel', 'C++', '3', 'Tony', 'Pearl', '7', 'Maria', 'Cobol', '15']
['Fred', 'Kotlin', '4', 'Paula', 'Python', '2', 'Ernst', 'Java', '7', 'Isabel', 'C++', '3', 'Tony', 'Pearl', '7', 'Maria', 'Cobol', '15']

In [20]:
for i in rows[1:]:
    data = i.find_all("td")            # loop around, find the td tag in the first row. The td tag contain the data in the first row
    row = [tr.text for tr in data]     # remove the td tags from the first row and only keep the text
    l =len(df)                         # initially, the size of the dataframe is 0 but as we loop around it increases (more rows get added)
    df.loc[l]= row                     # cleverly, the rows of the dataframe df get filled up with the stripped up rows of the table

df.head(10)

  Student Favourite Computer Language Years of Experience
0    Fred                      Kotlin                   4
1   Paula                      Python                   2
2   Ernst                        Java                   7
3  Isabel                         C++                   3
4    Tony                       Pearl                   7
5   Maria                       Cobol                  15